@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@84.7,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

body{
    background: radial-gradient( #3f4466,  #5a67a3,  #626686,  #656288);
    font-family: Fredoka;
}

h1 {
    color: rgb(162, 202, 241);
    font-size: 50px;
    font-family: Kode Mono;
}